* {
    margin: 128px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#forward {
    animation: rotate 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#background {
    animation: rotate 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

/*
[transition-timing-function]
変化の速度を指定できるプロパティ

指定できる値の速度イメージ
ease ... 12321
linear ... 22222
ease-in ... 12223
ease-out ... 32221
ease-in-out ... 11511
*/


@keyframes rotateY{
    from{ 
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes rotateX{
    from{ 
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}

@keyframes rotate{
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
